.default-category-btn, .selected-category-btn {
  border: none;
  padding: 10px;
}

.default-category-btn {
  background: var(--third-color);
  color: var(--primary-color);
}

.default-category-btn:active {
  cursor: wait;
  transform: translateX(1px);
}

.category-container {
  background: var(--primary-color);
  color: var(--forth-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
}

.category-container span {
  align-self: center;
  margin: 10px;
}

.category-options {
  display: flex;
  flex-direction: column;
}

.default-category-btn:hover, .selected-category-btn {
  background: var(--primary-color);
  color: var(--fourth-color);
}
