* {
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  width: 100%;
}

.category-container {
  background-color: rgb(58, 116, 116);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
}

.category-options {
  display: flex;
  flex-direction: column;
}

.header-container {
  align-items: center;
  background-color: rgb(180, 180, 151);
  border-bottom: 2px solid rgba(0, 0, 0, 0.411);
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.header-container h1 {
  margin-left: 15px;
}

.header-nav {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 15px;
}

.header-container a {
  height: 70%;
  object-fit: contain;
  opacity: 80%;
}

.search-container {
  background-color: bisque;
  display: flex;
  min-height: 89%;
  padding: 25px 0;
}

.side-container {
  width: 100%;
}

.search-container ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.product-item {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 10px;
  width: 250px;
}

.product-item img {
  max-width: 30%;
}


.header-nav img {
  border-radius: 5px;
  height: 100%;
  margin: 0 5px;
  object-fit: contain;
  padding: 2px;
}

.cartItens-container li img {
  height: 100%;
  object-fit: contain;
}

.header-nav img:hover {
  background-color: bisque;
}

.productdetail-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 350px;
}

.cartItens-container li {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.493);
  display: flex;
  height: 80px;
}

.cartItem-title, .cartItem-qt, .cartItem-price {
  align-items: center;
  border-right: 1px solid black;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 5px;
}

.forms-review-container, .displayReview-container {
  margin: 50px 0;
}

.reviewcard-container {
  border-top: 1px solid black;
  margin: 25px 0;
}
