* {
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  width: 100%;
}

.product-card-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.quantity-container button {
  background: white;
  border: none;
  cursor: pointer;
}

.category-container button {
  background: #686de0;
  border: none;
  color: white;
  opacity: 0.9;
  padding: 10px;
}

.search-input-container {
  align-items: center;
  display: flex;
  height: 50px;
  width: 100%;
}

.product-item button {
  background: #30336b;
  border: none;
  border-radius: 0 0 6px 6px;
  color: white;
  height: 40px;
  margin-top: 5px;
  width: 100%;
}

.search-input-container button {
  background: #30336b;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 10px;
  opacity: 0.9;
  padding: 10px;
  width: 100px;
}

.search-input-container button:hover {
  opacity: 1;
}

.search-input-container input {
  border: 1px  solid gray;
  border-radius: 5px;
  flex-grow: 2;
  margin: 5px;
  padding: 10px;
  width: 75%;
}

@media ( max-width : 600px ) {

  .search-input-container {
    flex-direction: column;
    height: 100px;
  }
}

.category-container {
  background: #30336b;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
}

.category-container span {
  align-self: center;
  margin: 10px;
}

.category-options {
  display: flex;
  flex-direction: column;
}

.header-container {
  align-items: center;
  background: #f6e58d;
  border-bottom: 2px solid rgba(0, 0, 0, 0.411);
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.header-container h1 {
  color: #30336b;
  margin-left: 15px;
}

.header-nav {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 15px;
}

.header-container a {
  height: 70%;
  object-fit: contain;
  opacity: 80%;
}

.search-container {
  display: flex;
  justify-content: center;
  min-height: 89%;
  padding: 25px 0;
}

.search-container p {
  color: #30336b;
}

.side-container {
  width: 100%;
  border-left: 1px solid rgb(0, 0, 0, 0.1)
}

.search-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
}

.product-item {
  align-items: center;
  border: 1px solid #e1e5eb;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06) , 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  margin: 10px;
  position: relative;
  width: 250px;
}

.product-item h3 {
  height: 65px;
  margin: 5px;
  overflow: hidden;
  text-align: center;
}

.product-item img {
  max-width: 30%;
}

.free-shipping-container {
  align-items: center;
  background: #f6e58d;
  border: 2px solid #30336b;
  border-radius: 100%;
  color: #30336b;
  display: flex;
  font-size: 12px;
  height: 45px;
  left: 5px;
  position: absolute;
  text-align: center;
  top: 5px;
  transform: rotate(-25deg);
  width: 45px;
}

.header-nav img {
  border-radius: 5px;
  height: 100%;
  margin-right: 15px;
  object-fit: contain;
  padding: 2px;
  width: 40px;
}

.cartItens-container {
  background: rgb(230, 230, 230);
  height: 100vh;
  padding-top: 50px;
}

.cartProduct-img-title-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 80%;
}

.cartProduct-img-title-container img {
  height: 100%;
}

.cartProduct-img-title-container p {
  margin-left: 10px;
}

.header-nav img:hover {
  background: bisque;
}

.productdetail-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 100%;
}

.cartProductList-container {
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  height: 80px;
}

.cartList-container {
  background: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
  margin: 0 auto;
  width: 80%;
}

.forms-review-container, .displayReview-container {
  margin: 50px 0;
}

.displayReview-container {
  background: antiquewhite;
  width: 100%;
}

.reviewcard-container {
  border-top: 1px solid black;
}

.quantity-container {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  padding: 10px;
  width: 60px;
}

.category-container button:hover {
  opacity: 1;
}
