.product-detail-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 100%;
}

.product-detail-card {
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 90%;
}

.top-content, .bottom-content {
  width: 100%;
}

.top-content {
  background: orange;
  display: flex;
  height: 70%;
}

.bottom-content {
  background: yellow;
  height: 30%;
}

.pictures-container, .info-container {
  height: 100%;
  width: 50%;
}

.pictures-container {
  align-items: center;
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-picture {
  background: gray;
  height: 80%;
}

.info-container {
  background: purple;
  padding-inline: 20px;
}

.mini-pictures {
  height: 80px;
  width: 100%;
}

.mini-pictures img {
  height: 100%;
  margin: 5px;
  object-fit: cover;
}

.product-title-container {
  margin: 15px 0;
}
